.chat-message-list-main-container {

  width: 500px;

  .message-list-container {
      position: relative;
      padding: 10px;
      height: 60vh;
      overflow-y: scroll;
      background-color: #F2F2F2;
      overflow-x: hidden;
  }

  p {
      font-size: 10px;
  }

}


