<div class="main_container">
    <div *ngIf="friends" class="content_container">
        <!-- <div *ngIf="isLeftVisible" (click)="onLeft()" class="left">
            <fa name="caret-left" size="2x"></fa>
        </div> -->
        <div class="card-deck">
            <div class="col-12 col-sm-6 col-md-3 card" *ngFor="let friend of friends">
                <div class="card-header text-center">
                  <span class="card-title">{{friend.name}}</span>
                </div>
                <div class="card-body text-center">
                    <img class="rounded-circle img-fluid card-img" src={{friend.image}} alt={{friend.name}}>
                    <small class="card-text">{{friend.mobile}}</small>
                    <a href="mailto:{{friend.email}}" target="_top"><small class="card-text email">{{friend.email}}</small></a>
                    <!-- <small class="card-text">Friends from {{friend.time | date:"MM/dd/yy" }}</small> -->
                </div>
                <div class="card-footer">
                    <button (click)="onChat(friend.uid)" class="col-5 btn btn-sm btn-outline-primary">
                      <!-- <fa name="comments" inverse></fa> -->
                      Chat
                    </button>
                    <span class="col-2"></span>
                    <button (click)="onChat(friend.uid)" class="col-5 btn btn-sm btn-outline-danger">Unfollow</button>
                </div>
              </div>



            <!-- <div *ngFor="let friend of friends" class="card">
                <img class="card-img-top"  src={{friend.image}} alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{friend.name}}</h4>
                    <p class="card-text">{{friend.email}} | {{friend.mobile}}</p>
                </div>

                <button (click)="onChat(friend.uid)" class="btn btn-outline-success my-2 my-sm-0"
                  type="submit">
                  Chat
                </button>

                <div class="card-footer">
                    <small class="text-muted">Friends from {{friend.time | date:"MM/dd/yy" }}</small>
                </div>
            </div> -->
        </div>
        <!-- <div *ngIf="isRightVisible" (click)="onRight()" class="right">
            <fa name="caret-right" size="2x"></fa>
        </div> -->
    </div>
    <div *ngIf="friends == null || friends.length === 0" class="no_info_container">
        <h1>No friends in your list</h1>
    </div>
</div>
