
.user-profile {
  margin-top: 50px;
}

.user-profile-info-row {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dce5f4;
}

.user-profile-info-row-label {
  color: #626872;
  font-size: small;
}

.user-profile-info-row-value {
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}

.bottom-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-profile-picture {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative  /* to be able to stack the child elelemts on top of eachother */
}

.div-profile-picture:hover {
  opacity: 0.7;
}

.div-profile-picture img {
  max-width: 100%;
  max-height:100%;
  border-radius: 50%
}

.div-profile-picture input {
  position: absolute;
  top: 0; /* relative to parent */
  bottom: 0; /* relative to parent */
  right:0; /* relative to parent */
  left: 0; /* relative to parent */
  width: 200px;
  height:200px;
  opacity: 0.0;
}
